name: Rust Test

on:
  push:
    branches: ["main"]
    tags-ignore:
      - "v*.*.*"
  pull_request:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      matrix:
        include:
          - features: ""
          - features: "jemalloc"
          - features: "commercial"
          - features: "tcp"
          - features: "unix"
          - features: "ws"

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install latest rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          default: true
          override: true

      - name: Cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ matrix.features }}-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-

      - name: Run format check
        run: cargo fmt --check
      - name: Run linter
        env:
          WORTERBUCH_LICENSE_PUBLIC_KEY: ${{ secrets.WORTERBUCH_TEST_LICENSE_PUBLIC_KEY }}
        run: cargo clippy --no-default-features --features=${{ matrix.features }} -- --deny warnings
      - name: Run tests
        env:
          WORTERBUCH_LICENSE_PUBLIC_KEY: ${{ secrets.WORTERBUCH_TEST_LICENSE_PUBLIC_KEY }}
          WORTERBUCH_LICENSE_FILE: ./test/license
        run: cargo test --no-default-features --features=${{ matrix.features }}
